header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-top: 1rem;
  padding: 1rem 4rem;
  border: 1px solid rgb(230, 230, 230);
}

  .logo{
    font-family: 'Texturina', sans-serif;
  }

  .light{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  }