header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-top: 1rem;
  padding: 1rem 4rem;
  border: 1px solid rgb(230, 230, 230);
}

  .logo{
    font-family: 'Texturina', sans-serif;
  }

  .themeSelector{
    display: flex;
    gap: 4px;
  }

  .light{
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 210, 210);;
  border-radius: 50%;
  display: inline-block;
  }

  .medium{
      height: 20px;
  width: 20px;
  background-color: rgb(218, 218, 218);
  border: 1px solid rgb(211, 210, 210);;
  border-radius: 50%;
  display: inline-block;
  }

  .dark{

      height: 20px;
  width: 20px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(211, 210, 210);
  border-radius: 50%;
  display: inline-block;
  }

  .g1{
    height: 20px;
  width: 20px;
  background: linear-gradient(90deg, #1888c9, #181bc9);;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 50%;
  display: inline-block;
  }

  .g2{
    background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
  background-blend-mode: soft-light, screen, darken, normal;
height: 20px;
  width: 20px;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 50%;
  display: inline-block;  
}

.g3{
  background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
  background-blend-mode: overlay, overlay, normal;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 50%;
  display: inline-block;  
}


.addTodo {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTodo form{
  padding: 15px 10px;
  background: rgb(255, 255, 255);
}